#home {
  height: 800px;
  background-image: url('../../public/images/computer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home .shadow {
  width: 100%;
  height: 100%;
  background-color: var(--color-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .greeting {
  color: var(--color-white);
}

#home .greeting .title,
#home .greeting .content {
  width: 450px;
  height: 450px;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(180, 180, 180, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: 1s;
}

#home .greeting .title {
  position: relative;
  font-size: 3rem;
  backdrop-filter: blur(10px);
  border: 3px solid white;
}

#home .greeting:hover .title {
  transform: rotateY(180deg);
}

#home .greeting .title h1 {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 160px auto;
  line-height: 1.5;
  font-size: 3rem;
}

#home .greeting .content {
  position: absolute;
  top: 0;
  font-size: 1.5rem;
  line-height: 2.5rem;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 110px 20px 0;
  transform: rotateY(-180deg);
  border: 3px solid gray;
}

#home .greeting:hover .content {
  transform: rotateY(0deg);
}

.icon--wifi {
  width: 100px;
  height: 100px;
  margin: 90px auto 0;
  animation: sprite-icon 3s steps(1) infinite;
  background-image: url('../../public/images/sprite_wifi.png');
}

@media (max-width: 1040px) {
  #home {
    height: calc(800px * 0.8);
  }
  #home .greeting .title,
  #home .greeting .content {
    width: calc(450px * 0.8);
    height: calc(450px * 0.8);
  }

  #home .greeting .title h1 {
    top: -30px;
  }

  #home .greeting .content {
    padding: 80px 20px 0;
    line-height: 1.8;
  }

  .icon--wifi {
    margin: 60px auto 0;
  }
  @media (max-width: 740px) {
    #home {
      height: calc(800px * 0.6);
    }
    #home .greeting .title,
    #home .greeting .content {
      width: calc(450px * 0.6);
      height: calc(450px * 0.6);
    }

    #home .greeting .title h1 {
      top: -65px;
      font-size: calc(3rem * 0.8);
    }

    #home .greeting .content {
      padding: 70px 20px 0;
      font-size: calc(1.5rem * 0.7);
      line-height: 1.5;
    }

    .icon--wifi {
      margin: 25px auto 0;
    }
  }
}

@keyframes sprite-icon {
  /* 1~10 */
  0.00% {
    background-position: 0 0;
  }
  1.67% {
    background-position: -100px 0;
  }
  3.33% {
    background-position: -200px 0;
  }
  5.00% {
    background-position: -300px 0;
  }
  6.67% {
    background-position: -400px 0;
  }
  8.33% {
    background-position: -500px 0;
  }
  10.00% {
    background-position: 0 -100px;
  }
  11.67% {
    background-position: -100px -100px;
  }
  13.33% {
    background-position: -200px -100px;
  }
  15.00% {
    background-position: -300px -100px;
  }

  /* 11~20 */
  16.67% {
    background-position: -400px -100px;
  }
  18.33% {
    background-position: -500px -100px;
  }
  20.00% {
    background-position: 0 -200px;
  }
  21.67% {
    background-position: -100px -200px;
  }
  23.33% {
    background-position: -200px -200px;
  }
  25.00% {
    background-position: -300px -200px;
  }
  26.67% {
    background-position: -400px -200px;
  }
  28.33% {
    background-position: -500px -200px;
  }
  30.00% {
    background-position: 0 -300px;
  }
  31.67% {
    background-position: -100px -300px;
  }

  /* 21~30 */
  33.33% {
    background-position: -200px -300px;
  }
  35.00% {
    background-position: -300px -300px;
  }
  36.67% {
    background-position: -400px -300px;
  }
  38.33% {
    background-position: -500px -300px;
  }
  40.00% {
    background-position: 0 -400px;
  }
  41.67% {
    background-position: -100px -400px;
  }
  43.33% {
    background-position: -200px -400px;
  }
  45.00% {
    background-position: -300px -400px;
  }
  46.67% {
    background-position: -400px -400px;
  }
  48.33% {
    background-position: -500px -400px;
  }

  /* 31~40 */
  50.00% {
    background-position: 0 -500px;
  }
  51.67% {
    background-position: -100px -500px;
  }
  53.33% {
    background-position: -200px -500px;
  }
  55.00% {
    background-position: -300px -500px;
  }
  56.67% {
    background-position: -400px -500px;
  }
  58.33% {
    background-position: -500px -500px;
  }
  60.00% {
    background-position: 0 -600px;
  }
  61.67% {
    background-position: -100px -600px;
  }
  63.33% {
    background-position: -200px -600px;
  }
  65.00% {
    background-position: -300px -600px;
  }

  /* 41~50 */
  66.67% {
    background-position: -400px -600px;
  }
  68.33% {
    background-position: -500px -600px;
  }
  70.00% {
    background-position: 0 -700px;
  }
  71.67% {
    background-position: -100px -700px;
  }
  73.33% {
    background-position: -200px -700px;
  }
  75.00% {
    background-position: -300px -700px;
  }
  76.67% {
    background-position: -400px -700px;
  }
  78.33% {
    background-position: -500px -700px;
  }
  80.00% {
    background-position: 0 -800px;
  }
  81.67% {
    background-position: -100px -800px;
  }

  /* 51~60 */
  83.33% {
    background-position: -200px -800px;
  }
  85.00% {
    background-position: -300px -800px;
  }
  86.67% {
    background-position: -400px -800px;
  }
  88.33% {
    background-position: -500px -800px;
  }
  90.00% {
    background-position: 0 -900px;
  }
  91.67% {
    background-position: -100px -900px;
  }
  93.33% {
    background-position: -200px -900px;
  }
  95.00% {
    background-position: -300px -900px;
  }
  96.67% {
    background-position: -400px -900px;
  }
  98.33% {
    background-position: -500px -900px;
  }
}
