.header {
  width: 1024px;
  height: 4.5rem;
  position: fixed;
  background-color: transparent;
  z-index: 1;
}

.header-white {
  width: 1024px;
  height: 4.5rem;
  position: fixed;
  background-color: white;
  box-shadow: 0 1px 0.3rem hsl(0deg 0% 80% / 80%);
  z-index: 1;
}

.header-wrapper {
  width: 100%;
  padding: 1.25rem 3rem;
  margin: 0 auto;
  display: inline-flex;
  justify-content: space-between;
}

.header-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
}

.header-nav {
  width: 40%;
  text-align: center;
  display: flex;
  align-items: center;
}

.header-nav-content {
  width: 25%;
  display: inline-block;
  font-weight: 500;
}
