.archiving-bg {
  width: 100%;
  height: 41rem;
  padding: 3rem 0 2rem 0;
  background-color: rgb(17, 17, 8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.archiving-title {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 4rem;
  padding-bottom: 0.5rem;
  color: white;
  border-bottom: 0.1rem rgb(126, 125, 125) solid;
}

.archiving-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.archiving-content img {
  width: 4rem;
}

.archiving-content a {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.archiving-content a:visited,
.archiving-content a:hover {
  color: black;
}

.archiving-content p {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.archiving-content ul {
  margin-top: 2rem;
  text-align: left;
  padding-left: 4rem;
}

.archiving-content li {
  margin-bottom: 1rem;
  list-style-type: disc;
}

.archiving-box {
  width: 100%;
  height: 25rem;
  margin: 1rem;
  padding: 0 auto;
  background-color: white;
  border-radius: 1rem;
  text-align: center;
}

.archiving-url {
  font-size: 1.5rem;
  color: rgb(59, 159, 226);
  font-weight: 600;
  margin-top: 2rem;
}

.float {
  animation: float 0.1s linear forwards;
}

.focus {
  text-decoration: underline;
}

@keyframes float {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -0.3rem);
  }
}
